In [1]:
import pandas as pd

In [4]:
x_train = pd.read_csv(r'C:\Users\hp\Downloads\mlbootcamp\data\preprocess_data\X_train.csv')
y_train = pd.read_csv(r'C:\Users\hp\Downloads\mlbootcamp\data\preprocess_data\y_train.csv')

In [10]:
x_test = pd.read_csv(r'C:\Users\hp\Downloads\mlbootcamp\data\preprocess_data\X_test.csv')
y_test = pd.read_csv(r'C:\Users\hp\Downloads\mlbootcamp\data\preprocess_data\y_test.csv')

In [5]:
x_train.head()

   Actual Price    Rating   Reviews  RAM (GB)  ROM (GB)  Company
0     -0.331361  0.162013  2.376929  0.043838 -0.560732        7
1     -0.378736 -0.820156  1.142411  1.397475  0.540722        7
2      0.000267  0.684444  2.098789  0.043838  0.540722        8
3     -0.331361  0.628718  1.084526  0.043838 -0.560732       17
4     -0.236610 -0.534561 -0.468178  0.043838  0.540722        9

In [6]:
y_train

     Price
0    17999
1    15999
2    23999
3    14999
4    19999
..     ...
501  19999
502   8980
503  29999
504  17499
505  37999

[506 rows x 1 columns]

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor

In [8]:
models = [LinearRegression(),DecisionTreeRegressor(random_state=42),
          RandomForestRegressor(random_state=42),AdaBoostRegressor(random_state=42),
          GradientBoostingRegressor(random_state=42)]

In [11]:
from sklearn.metrics import mean_squared_error
import numpy as np

In [12]:
d = {}
for i in models:
    i.fit(x_train, y_train)
    pred = i.predict(x_test)
    mse = np.sqrt(mean_squared_error(y_test, pred))
    if mse not in d:
        d[i]=mse

d

c:\Users\hp\Downloads\mlbootcamp\venv\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
c:\Users\hp\Downloads\mlbootcamp\venv\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\hp\Downloads\mlbootcamp\venv\Lib\site-packages\sklearn\ensemble\_gb.py:672: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)  # TODO: Is this still required?

{LinearRegression(): np.float64(15144.920130248574),
 DecisionTreeRegressor(random_state=42): np.float64(3406.2785123659187),
 RandomForestRegressor(random_state=42): np.float64(3413.2961523604386),
 AdaBoostRegressor(random_state=42): np.float64(6364.585855047035),
 GradientBoostingRegressor(random_state=42): np.float64(3703.581097921479)}

In [18]:
model = [a for a,b in d.items() if b ==min(d.values())][0]

In [20]:
import os 
os.makedirs(r'C:\Users\hp\Downloads\mlbootcamp\models',exist_ok=True)

In [17]:
import joblib

In [19]:
joblib.dump(model,r'C:\Users\hp\Downloads\mlbootcamp\models\model')

['C:\\Users\\hp\\Downloads\\mlbootcamp\\models\\model']